.card {
    display: flex;
    flex-direction: column;
    gap: 12px;

    padding: 20px;

    border-radius: 12px;
    background-color: #fff;
}

.card-resume__title {
    font-size: 16px;
    font-weight: 500;
}

.card-resume__current {
    font-size: 24px;
}

p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    width: fit-content;

    font-weight: 600;
    font-size: 15px;

    padding: 8px 12px;
    border-radius: 50px;
}

.positive {
    background-color: #0BB07B0F;
    color: #0BB07B;
    --fill: #0BB07B;
}

.negative {
    background-color: #F03D3D0F;
    color: #F03D3D;
    --fill: #F03D3D;
}