<article class="card card-resume">
    <header>
        <h1 class="card-resume__title">{{ title }}</h1>
        <h2 class="card-resume__current">{{ currentBalance | currency: 'BRL'}}</h2>
    </header>

    <p
        [ngClass]="grownPercentage >= 0 ? 'positive' : 'negative'"
    >
        <icon
            [name]="grownPercentage >= 0 ? 'arrow-up' : 'arrow-low'"
            [size]="16"
        /> {{ grownPercentage }}%
    </p>
</article>