:host {
    position: absolute;
    top: 56px;
    right: 5%;
    transform: translateY(+50%);

    @media screen and (max-width: 768px) {
        position: static;
    }
}

.mobile {
    display: none;
}

.desktop {
    display: block;
}

@media screen and (max-width: 768px) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }
}

.navbar-container {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 768px) {
        margin-bottom: 52px;
    }
}

.navbar, .navigation__options, .navbar__profile {
    display: flex;
    align-items: center;
}

.navbar {
    gap: 42px;
}

.navigation__options {
    gap: 24px;
}

.navigation__option {
    position: relative;
}

.notification-bullet {
    position: absolute;
    top: 0;
    right: -4px;

    display: inline-block;
    width: 6px;
    height: 6px;
    aspect-ratio: 1/1;

    border-radius: 50%;
    background-color: var(--brand-color);
}

button {
    cursor: pointer;
    background-color: transparent;
}

.navbar__profile {
    gap: 14px;
}
