<header class="navbar-container">
    <button class="navbar-menu mobile">
        <icon name="list" [size]="32"></icon>
    </button>

    <nav
        class="navbar"
        role="navigation"
    >
        <ul class="navigation__options">
            <li class="navigation__option">
                <button>
                    <icon name="search"></icon>
                </button>
            </li>
            <li class="navigation__option">
                <button>
                    <icon name="bell"></icon>
                    <span *ngIf="hasNotification" class="notification-bullet"></span>
                </button>
            </li>
        </ul>

        <button class="navbar__profile">
            <user-avatar [src]="avatarSrc"></user-avatar>
            <span class="desktop">Igor José</span>
        </button>
    </nav>
</header>