<section class="logs-container logs">
    <header>
        <h1 class="logs__title">{{ title }}</h1>
    </header>

    <ol
        class="logs__list"
    >
        <li
            *ngFor="let log of logs"
            class="log"
        >
            <p>{{ log.label }}</p>
            <p>{{ log.value }}</p>
        </li>
    </ol>
</section>