.logs-container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    height: 100%;

    padding: 24px 40px;

    border-radius: 12px;
    background-color: #fff;
}

.logs__title {
    font-size: 20px;
    font-weight: 500;
}

.logs__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.log {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

    padding: 12px 14px;

    background-color: #9E6EFE0F;
    border-radius: 6px;
    
    p {
        color: #9E6EFE;
    }
}