<section
    class="chart-stack chart-container"
>
    <header>
        <h1 class="chart__title">{{ title }}</h1>
    </header>

    <div class="chart__body">
        <ol class="chart__labels">
            <li *ngFor="let label of verticalLabels">
                {{ label }}
            </li>
        </ol>

        <ol class="chart__stacks">
            <li
                *ngFor="let stack of stacks"
                class="chart__stack-wrapper"
            >
                <div
                    class="chart__stack"
                    [ngStyle]="{
                        'height': stack.percentage + '%',
                        'background-color': stack.active ? '#9E6EFE' : '#9E6EFE3D'
                    }"
                ></div>
                <p class="stack__label">{{ stack.label }}</p>
            </li>
        </ol>
    </div>
</section>