.chart-container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    padding: 24px 42px;
    padding-bottom: 64px;

    background-color: #FFF;
    border-radius: 12px;
}

.chart__title {
    font-size: 20px;
    font-weight: 500;
}

.chart__body {
    width: 100%;
    display: flex;
    gap: 48px;
}

.chart__labels {
    display: flex;
    flex-direction: column-reverse;
    gap: 18px;

    li {
        color: #6A6969;
    }
}

.chart__stacks {
    flex: 1;
    display: flex;
    gap: 18px;
    align-items: flex-end;

    flex-wrap: wrap;

    overflow: auto hidden;
    transform: translateY(calc(25px + 12px / 2));

    .chart__stack-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 12px;

        height: 100%;
    }

    .chart__stack {
        cursor: pointer;

        position: relative;

        display: flex;
        width: 42px;

        border-radius: 6px;
    }

    .stack__label {
        font-size: 16px;
        color: #6A6969;
    }
}