<section>
    <header>
        <h1 class="table__title">Histórico de compradores</h1>
    </header>

    <div class="table-container">
        <table class="table">
            <thead class="table__header">
                <tr class="table__row">
                    <th *ngFor="let fieldName of fieldsName">
                        {{ fieldName }}
                    </th>
                </tr>
            </thead>
            <tbody class="table__body">
                <tr
                    *ngFor="let buyer of buyers"
                    class="table__row"
                >
                    <td>#{{ buyer.id | number:'6.0-0' }}</td>
                    <td>{{ buyer.date | date:'dd/MM/yyyy' }}</td>
                    <td>{{ buyer.name }}</td>
                    <td>{{ buyer.location }}</td>
                    <td>{{ buyer.value | currency:'BRL' }}</td>
                    <td>
                        <span
                            class="bullet"
                            [ngStyle]="{
                                'background-color': statusValueSerialized[buyer.status].color
                            }"
                        ></span>

                        {{ statusValueSerialized[buyer.status].label }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>