section {
    max-width: 100%;
    overflow-x: auto;

    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 32px;

    padding: 32px 40px;

    background-color: #fff;
    border-radius: 12px;

}

.table-container {
    position: relative;

    display: flex;
    flex: 1;
    width: 100%;
    min-height: 640px;
    
    overflow-x: auto;
}

table {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    border-collapse: collapse;
}

td, th {
    font-weight: 500;
}

th {
    text-align: left;
    
    &:not(:first-of-type) {
        padding: 8px 16px;
    }
}

td {
    text-wrap: nowrap;
    color: #6A6969;
    
    &:not(:first-of-type) {
        padding: 24px 16px;
    }
}

.table__body{
    .table__row {
        border-bottom: 2px solid #F2F6FF;
    }
}

.bullet {
    display: inline-block;

    width: 10px;
    height: 10px;
    aspect-ratio: 1/1;

    margin-right: 4px;
    border-radius: 50%;
}