a {
    --color: #272727;
    --stroke: var(--color);

    display: flex;
    align-items: center;
    gap: 14px;

    width: 100%;

    padding: 14px;

    border-radius: 6px;

    color: var(--color);
    font-size: 18px;

    &.active {
        --color: #9E6EFE;
        background-color: #9E6EFE0F;
    }
}