.layout {
    display: flex;
    height: 100vh;
    
    background-color: #F3F4F8;
}

dashboard-sidebar {
    @media screen and (max-width: 1024px) {
        display: none;
    }
}

main {
    position: relative;
    flex: 1;

    padding: 56px 5%;
    overflow: auto;

    @media screen and (max-width: 768px) {
        padding: 24px 20px;
    }
}