aside {
    display: flex;
    flex-direction: column;
    gap: 79px;

    padding: 56px 48px;
    width: 300px;
    height: 100%;

    box-shadow: 8px 13px 40px 0px #F1EFFF;
    background-color: #fff;

    border-radius: 0 26px 26px 0;

    overflow: auto;

    .logo {
        margin: 0 auto;
    }
}

hr {
    min-height: 1px;
    background-color: #F2F6FF;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 26px;
}