<aside role="menu">
    <a
        class="logo"
        routerLink="/dashboard"
    >
        <img src="./../../../../assets/images/logo.svg" />
    </a>

    <ul>
        <li *ngFor="let link of links">
            <sidebar-item
                [icon]="link.icon"
                [label]="link.label"
                [redirectTo]="link.redirectTo"
            ></sidebar-item>
        </li>
    </ul>

    <hr />
</aside>