@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

:root {
    --brand-color: #9E6EFE;

    --dark-10: #2D3748;
    --dark-20: #718096;
    --dark-30: #F9F9F9;
    --dark-40: #FFFFFF;

    --support-01: #2962FF;
    --support-02: #0BB07B;
    --support-03: #FFCE52;
    --support-04: #F03D3D;
    --support-05: #E0E0E0;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    text-decoration: none;
    list-style: none;

    font-family: 'Poppins', sans-serif;

    color: #272727;

    border: 0;
    outline: 0;
}