header {
    margin-bottom: 36px;

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 18px;
        color: #6A6969;
    }

    h1, h2 {
        font-weight: 500;
    }
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 32px;

    @media screen and (max-width: 1280px) {
        grid-template-columns: 1fr;
    }
}

chart-stack{
    grid-column: 1/3;

    @media screen and (max-width: 1280px) {
        grid-column: 1;
    }
}

logs {
    grid-column: 3/5;

    @media screen and (max-width: 1280px) {
        grid-column: 1;
    }
}

table-buyers {
    grid-column: 1/5;

    @media screen and (max-width: 1280px) {
        grid-column: 1;
    }
}