<layout-default>
    <header>
        <h1>Olá, Igor</h1>
        <h2>Aqui estão as informações sobre suas vendas.</h2>
    </header>

    <div class="container">
        <chart-stack
            [title]="recipeChart.title"
            [verticalLabels]="recipeChart.verticalLabels"
            [stacks]="recipeChart.stacks"
        ></chart-stack>

        <logs
            [title]="transactionsHistory.title"
            [logs]="transactionsHistory.logs"
        ></logs>

        <card-resume
            *ngFor="let resume of resumes"
            [title]="resume.title"
            [currentBalance]="resume.currentBalance"
            [oldBalance]="resume.oldBalance"
        ></card-resume>

        <table-buyers [buyers]="buyers"></table-buyers>
    </div>
</layout-default>